.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

.PageTitle {
	font-size: 22px;
	padding: 10px;
	margin: 0px;
}

.PageSubTitle {
	font-size: 16px;
	padding: 0px;
	margin: 0px;
	opacity: 0.5;
}

.NoteList {
	margin: 5px;
}

.noteBubble {
	margin: 5px;
	border-radius: 8px;
	max-width: 200px;
	color: black;
	transform: translate(-50%,-50%);

	position: absolute;
}

.noteTitle {
	text-align: left;
	padding: 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 15px;

}

.noteNote {
	font-size: 13px;
	color: #000;
}

.noteAuthor {
	text-align: right;
	padding: 5px;
	font-size: 13px;
	color: #000;
}

.modal {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}

.modalMain {
	position:fixed;
	background: white;
	display: grid;
	width: auto;
	height: auto;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	padding: 20px;
	background-color: antiquewhite;
	border-radius: 10px;
}

.display-block {
	display: block;
}

.display-none{
	display: none;
}

.noteArea {
	padding-left: 5px;
	padding-top: 5px;
	width: 300px;
	height: 50px;
	resize: none;
	border: none;
	background: #fff;
	border-radius: 7px;
}
.noteArea:focus { outline:none; }

.authorInput {
	padding-left: 5px;
	margin-top: 10px;
	height: 20px;
	border: none;
	background: #fff;
	border-radius: 7px;
	width: 300px;
}
.authorInput:focus { outline:none; }

.modalButton {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: none;
	background: transparent;
}

.emojiDiv {
	align-content: center;
	margin-top: 10px;
	width: 300px;
}

.emoji {
	margin: 10px;
}

.btn {
	border-radius: 5px;
	padding: 7px;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
	position: relative;
	display: inline-block;
}
  
.btn:active {
transform: translate(0px, 5px);
-webkit-transform: translate(0px, 5px);
box-shadow: 0px 1px 0px 0px;
}

.red {
	background-color: #e74c3c;
	box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
	background-color: #FF6656;
}

.green {
	background-color: #2ecc71;
	box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
	background-color: #48E68B;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
